<div class="animated fadeIn card1 btn-pill">
    <div class="row">
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-header">
                    <strong>Enter your Email Address</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <input class="form-control " type="text" placeholder="email" [(ngModel)]="email">
                            <button class="btn-ghost-primary btn-lg" (click)="submit()">Ok</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>